html {
  height: 100%;
}
body {
  background: rgb(226,204,204);
  background: linear-gradient(0deg, rgba(226,204,204,1) 0%, rgba(149,191,245,1) 100%);
  height: 100%;
  margin: 0%;
  }
  h4 {
    color: rgb(0, 0, 0);
    font-family: Georgia;
    font-size: 250%;
    border: 3px solid rgb(0, 0, 0);
    padding: 20px;
  }
  h3 {
    color: rgb(0, 0, 0);
    font-family: Georgia;
    font-size: 150%;
    
  } 